.submit__btn {
    width: 150px;
    background: lightblue;
    font-size: 20px;
    border: none;

    @media (max-width: 767.98px) {
        width: 100%;
    }
}

.button__wrapper {
    justify-content: right;
}

.justify__right {
    justify-content: right;
}

.error {
    color: red;
    font-size: 20px;
}